@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
}

.dark {
  background-color: white;
  filter: invert(1) hue-rotate(180deg);
}
.dark img {
  filter: invert(1) hue-rotate(180deg);
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 300px;
  background-color: black;
  padding: 24px;
}

.sidebar .logo img {
  width: 130px;
}

.sidebar .navigation ul {
  list-style: none;
  margin-top: 20px;
}
.sidebar .navigation ul li {
  padding: 10px 0px;
}

.sidebar .navigation ul li a {
  text-decoration: none;
  color: #b3b3b3;
  font-weight: 500;
  font-size: 18px;
}

.sidebar .navigation ul li a:hover {
  color: #ffffff;
}

.sidebar .navigation ul li .fa {
  font-size: 20px;
  margin-right: 10px;
}

.sidebar .policies {
  position: absolute;
  bottom: 100px;
}

.sidebar .policies ul {
  list-style: none;
}

.sidebar .policies ul li {
  padding-bottom: 5px;
}

.sidebar .policies ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #b3b3b3;
  font-weight: 500;
}

.sidebar .policies ul li a:hover {
  text-decoration: underline;
  color: white;
}

.main-container {
  margin-left: 350px;
  margin-bottom: 100px;
}

.topbar {
  display: grid;
  grid-template-columns: 40fr auto 1fr;
  background-color: #000;
  padding: 14px 30px;
}

.prev-next-buttons button {
  color: #7a7a7a;
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: #090909;
  margin-right: 10px;
}

.topbar .navbar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  display: flex;

  align-items: center;
}

.topbar .navbar ul li {
  display: inline-block;
  margin: 0px 8 px;

  width: 70px;
}

.topbar .navbar ul li a {
  color: #b3b3b3;

  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.topbar .navbar ul li a:hover {
  color: #ffffff;
  font-size: 15px;
}

.topbar .navbar button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
}

.topbar .navbar button:hover {
  background-color: #f2f2f2;
}

.spotify-playlists {
  padding: 20px 40px;
}

.spotify-playlists h2 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 20px;
}

.spotify-playlists .list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px;
  overflow: hidden;
}

.spotify-playlists .list .item:hover {
  background-color: #252525;
}

.spotify-playlists .list .item {
  min-width: 10px;
  width: 130px;
  padding: 15px;
  background-color: #181818;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}

.spotify-playlists .list .item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.spotify-playlists .list .item .play {
  position: relative;
}

.spotify-playlists .list .item .play .fa {
  position: absolute;
  right: 10px;
  top: -60px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.4s;
  /* transform: translateY(-20px); */
}

.spotify-playlists .list .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-20px);
}

.spotify-playlists .list .item h4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spotify-playlists .list .item p {
  color: #989898;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}
